<section id="about" class="bg-dark text-white text-center py-5">
    <h1 class="text-white">{{title}}</h1>
    <p class="lead"><i>"I'm a problem-solving enthusiast who writes code to bring ideas to life."</i></p>
</section>

<section id="skills" class="bg-dark text-white text-center py-5">
    <h2>Technical Skills</h2>
        <p><b>Programming Languages:</b> Microsoft Dynamics 365 Business Central, Java, Swift, Python, C#, PHP</p>
        <p><b>Web Development:</b> ASP.net, React.js, HTML, CSS, JavaScript, jQuery and MEAN Stack</p>
        <p><b>Database Management:</b> MySQL, MongoDB</p>
</section>

<section id="education" class="bg-light text-dark text-center py-5">
    <h2>Education</h2>
    <h3>Computer Programming (Co-op) Diploma program (2022 - 2024)</h3>
    <h4>Georgian College, Barrie, ON</h4>
    <h5><i>Overall current GPA 85%, Dean’s list Winter2022, Fall2023</i></h5>
    <p class="education-description">Focus on computer programming, web development, and designing data-driven systems. I learned how to write code in a variety of programming languages such as Arduino, ASP.NET, C#, Java, JavaScript, HTML/CSS, PHP and Swift. Gained experience developing software for diverse platforms including embedded systems, desktop, mobile and mainframe systems. 
        With a strong emphasis on business and entrepreneurial values, I gained experience in problem solving, troubleshooting and system building through a series of applied assignments, projects and co-op work terms.</p>
    <!-- Add more education details as needed -->
</section>