<!-- Hero Section -->
<section id="hero" class="bg-dark text-white text-center py-5">
    <h1 class="text-white">{{title}}</h1>
    <p class="lead">Football is not just a game; it's a symphony of skill, passion, and teamwork, played on the grand stage of the beautiful game</p>

</section>
