<!-- Hero Section -->
<section id="hero" class="bg-dark text-white text-center py-5">
    <h1 class="text-white">{{title}}</h1>
    <p class="lead">A Computer Programmer</p>
    <div class="container text-center">
        <!-- Add links to your social profiles here using icons (e.g., Font Awesome) -->
        <a href="https://www.instagram.com/madhur_sh/" class="social-icon"><i class="fab fa-instagram fa-3x fa-inverse"></i></a>
        <a href="https://www.linkedin.com/in/madhur-sharma-b87625243/" class="social-icon"><i class="fab fa-linkedin fa-3x fa-inverse"></i></a>
        <a href="https://github.com/Madhur1211" class="social-icon"><i class="fab fa-github fa-3x fa-inverse"></i></a>
    </div>
</section>
<!-- Footer -->
<footer class="bg-dark text-white text-center py-3">
    <p>&copy; 2023 Madhur</p>
</footer>