<section id="projects" class="bg-dark text-white text-center py-5">
    <h1 class="text-white">{{title}}</h1>
    <div class="mt-4 p-5 bg-dark text-white rounded custom-jumbotron">
        <h1>Weather Data Web Application</h1>
        <p>Collaborated in a two-person team to develop a user-friendly web application using JavaScript, HTML, and CSS, enabling users to access real-time weather data by entering city names. Integrated a third-party weather API for data retrieval and implemented error handling for enhanced user experience. This project showcased strong teamwork, API integration, and frontend development skills.</p>
        <p><a href="https://iago-furtado.github.io/apiweather.github.io/" target="_blank" class="button-link"><button type="submit" class="btn btn-primary">View</button></a></p>
    </div>
</section>
<section id="projects" class="bg-dark text-white text-center py-5">
    <div class="mt-4 p-5 bg-dark text-white rounded custom-jumbotron">
        <h1>National Football Teams Data (Java)</h1>
        <p>Built a Java application to retrieve and present comprehensive data on national football teams and players using a web API. Managed complex, nested JSON data with multiple model classes and efficient API utility calls. Utilized JavaFXML for a user-friendly interface and GitHub for version control. Demonstrated strong Java skills and problem-solving abilities in handling intricate API structures.</p>
         <p><a href="https://github.com/Madhur1211/Football" target="_blank" class="button-link"><button type="submit" class="btn btn-primary">View</button></a></p>
    </div>
</section>
<section id="projects" class="bg-dark text-white text-center py-5">
    <div class="mt-4 p-5 bg-dark text-white rounded custom-jumbotron">
        <h1>GroceryGo: ASP.NET MVC E-commerce Project</h1>
        <p>Collaborated with a team of three to develop a fully functional grocery store web application using ASP.NET MVC and C#. Leveraging effective communication and teamwork, we successfully designed and implemented the application's features. To ensure seamless deployment and updates, we utilized Azure Web Application hosting and established Continuous Integration and Continuous Deployment (CI/CD) pipelines linked to GitHub. This project showcased our proficiency in web development, cloud hosting, and DevOps practices.</p>
     </div>
</section>
