body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}


#hero {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url('/images/bg-home.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero h1, #hero p {
    color: white; /* Text color */
    text-align: center; /* Center the text horizontally within the section */
}

.social-icon {
    margin: 10px; /* Add some spacing between icons */
    transition: transform 0.3s; /* Add a transform transition */
}

.social-icon:hover {
    transform: scale(1.2); /* Increase size on hover */
}

#teams {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url('/images/bg-teams.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#teams {
    background-color: transparent;
    color: white;
  }

  .table {
    margin: 0 auto !important; /* Center the table horizontally */
    width: 80%; /* Set a maximum width to limit the spread */
    max-width: 600px; /* Adjust the maximum width as needed */
  }

  .table th,
  .table td {
    color: white;
  }

#teams h1, #teams p {
    color: white; /* Text color */
    text-align: center; /* Center the text horizontally within the section */
}

/* Team add */
form {
    background-color: rgba(0, 0, 0, 0.7); /* The "0.7" value represents the level of transparency; you can adjust it */
    padding: 20px;
    border-radius: 10px;
}

label, input, textarea {
    display: block;
    margin: 10px 0;
    color: white;
}

#team, #captain, #manager {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: 100%;
    padding: 10px;
}

input[type="submit"] {
    background-color: #007BFF; /* Button background color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#success-message {
    color: white;
    display: none;
    background-color: green;
    padding: 10px;
    border-radius: 5px;
}

#contact{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url('/images/bg-add.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Style for the trash icon */
a[href^="/teams/delete/"] i.fas.fa-trash {
    color: red;
}

/* Style for the pencil icon */
a[href^="/teams/edit/"] i.fas.fa-pencil-alt {
    color: blue;
}

#edit{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url('/images/edit.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* This makes the section take the full height of the viewport */
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url('/images/bg-login.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .login hr {
    color: white; /* Set link text color to black */
  }

  .login input {
    width: 100%;
    margin-bottom: 10px;
    color: black; /* Set input text color to black */
  }

  .register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* This makes the section take the full height of the viewport */
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url('/images/bg-register.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .register h1{
    color: white; /* Set link text color to black */
  }

  .register hr{
    color: white;
  }

  .register input {
    width: 100%;
    margin-bottom: 10px;
    color: black; /* Set input text color to black */
  }
 
  .login button{
    margin-bottom: 10px;
  }

  .login p{
    color: white;
  }

  .register p{
    color: white;
  }

  


  